.boton-f {
  display: flex;
  margin: 10px;
  padding: 10px 20px;
  border: 3px solid #f5c05d;
  text-decoration: none;
  color: #e4a837;
  background-color: #19372b;
  transition: background-color 0.3s, border-color 0.3s;
}
.boton-f:hover {
  background-color: #3b6754;
  border-color: #666;
}

.footer {
  text-align: right;
}

.Main-boton .boton {
  text-align: center;
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border: 3px solid #f5c05d;
  text-decoration: none;
  color: #e4a837;
  background-color: #19372b;
  transition: background-color 0.3s, border-color 0.3s;
}
.Main-boton .boton:hover {
  background-color: #3b6754;
  border-color: #666;
}

h1 {
  font-size: 3rem;
  color: #e4a837;
}

h2 {
  font-size: 1.9rem;
  text-decoration: underline;
  color: #f5c05d;
}

p {
  color: #f5c05d;
}

.home, .home3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .home, .home3 {
    flex-direction: column;
  }
}
.home img, .home3 img {
  max-width: 6cm;
  border: 3px solid #f2f2f2;
  max-height: 6cm;
}
@media (max-width: 768px) {
  .home img, .home3 img {
    max-width: 100%;
  }
}
.home h3, .home p, .home3 h3, .home3 p {
  order: 2;
  text-align: justify;
  align-self: center;
}
@media (max-width: 768px) {
  .home h3, .home p, .home3 h3, .home3 p {
    order: 1;
    text-align: center;
  }
}

.home2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .home2 {
    flex-direction: column;
  }
}
.home2 img {
  max-width: 6cm;
  border: 3px solid #f2f2f2;
  max-height: 6cm;
}
@media (max-width: 768px) {
  .home2 img {
    max-width: 100%;
  }
}
.home2 p {
  order: 1;
  text-align: justify;
  align-self: center;
}
@media (max-width: 768px) {
  .home2 p {
    order: 2;
    text-align: center;
  }
}
.home2 img:nth-child(2) {
  order: 2;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product-container .product {
  text-align: center;
  margin: 20px;
  width: 250px;
}
.product-container .product img {
  max-width: 100%;
  height: auto;
}
.product-container .product h2 {
  text-decoration: none;
  color: #f5c05d;
  margin: 10px 0;
}
.product-container .product h3 {
  color: black;
  text-align: justify;
}
.product-container .product p {
  font-weight: bold;
}
.product-container .product button {
  background-color: #3b6754;
  color: #fff79a;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 10px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .product-container .product {
    width: 100%;
  }
}

.tutorial {
  max-width: 800px;
  margin: 50px auto;
  background-color: #19372b;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.tutorial h1 {
  text-align: center;
}
.tutorial .tutorial-section {
  margin-bottom: 20px;
}
.tutorial .tutorial-section h2 {
  color: #e4a837;
  margin-bottom: 10px;
}
.tutorial .tutorial-section .video {
  text-align: center;
  margin-bottom: 10px;
}
.tutorial .tutorial-section .video iframe {
  width: 100%;
  height: 315px;
}
.tutorial .tutorial-section p {
  color: #f5c05d;
}
@media (max-width: 768px) {
  .tutorial {
    max-width: 90%;
  }
}

body {
  background-color: #19372b;
}

/*# sourceMappingURL=style.css.map */
