@charset "UTF-8";
.boton-f {
  width: 100px;
  display: flex;
  margin: 10px;
  padding: 10px 20px;
  border: 3px solid #f5c05d;
  text-decoration: none;
  color: #e4a837;
  background-color: #19372b;
  transition: background-color 0.3s, border-color 0.3s;
}
.boton-f:hover {
  background-color: #3b6754;
  border-color: #666;
}

.footer {
  text-align: right;
  color: #f5c05d;
}

.Main-boton {
  position: relative;
}
.Main-boton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-image: url(/imagenes/fondo\ header.jpg);
  background-size: contain;
  z-index: -1;
}
.Main-boton .boton {
  text-align: center;
  text-size-adjust: 5px;
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border: 3px solid #e4a837;
  text-decoration: none;
  color: #e4a837;
  background-color: transparent;
  transition: background-color 0.3s, border-color 0.3s;
}
.Main-boton .boton:hover {
  background-color: #3b6754;
  border-color: #666;
}

h1 {
  font-size: 4rem;
  color: #e4a837;
}

h2 {
  font-size: 1.9rem;
  text-decoration: underline;
  color: #f5c05d;
}

p {
  color: #f5c05d;
}

.home, .home3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .home, .home3 {
    flex-direction: column;
  }
}
.home img, .home3 img {
  max-width: 50%;
  border: 3px solid #f2f2f2;
  max-height: 50%;
}
@media (max-width: 768px) {
  .home img, .home3 img {
    max-width: 100%;
  }
}
.home h3, .home p, .home3 h3, .home3 p {
  order: 2;
  text-align: justify;
  align-self: center;
}
@media (max-width: 768px) {
  .home h3, .home p, .home3 h3, .home3 p {
    order: 1;
    text-align: center;
  }
}
.home h2, .home3 h2 {
  text-decoration: none;
}

.home2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .home2 {
    flex-direction: column;
    justify-content: center; /* Centrar en dispositivos con ancho máximo */
  }
}
.home2 video,
.home2 iframe {
  max-width: 100%;
  border: 3px solid #f2f2f2;
  max-height: 100%;
  align-items: right;
}
@media (max-width: 768px) {
  .home2 video,
  .home2 iframe {
    max-width: 100%;
  }
}

p {
  order: 1;
  text-align: justify;
  align-self: center;
}
@media (max-width: 768px) {
  p {
    order: 2;
    text-align: center;
  }
}

img:nth-child(2) {
  order: 2;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product-container .product {
  text-align: center;
  margin: 20px;
  width: 250px;
}
.product-container .product img {
  max-width: 100%;
  height: auto;
}
.product-container .product h2 {
  text-decoration: none;
  color: #f5c05d;
  margin: 10px 0;
}
.product-container .product h3 {
  color: black;
  text-align: justify;
}
.product-container .product p {
  font-weight: bold;
}
.product-container .product button {
  width: 300px;
  padding: 10px 20px;
  background-color: #19372b;
  color: #e4a837;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.product-container .product button:hover {
  background-color: #555;
}
@media (max-width: 768px) {
  .product-container .product {
    width: 100%;
  }
}

.bodytips {
  background-color: #19372b;
}
.bodytips h1 {
  color: #e4a837;
}

#carouselExampleCaptions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  background-color: #19372b;
}

.carousel-inner {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 100%;
}

.carousel-item {
  text-align: center;
}

.carousel-item iframe {
  max-width: 100%;
  max-height: 100%;
}

.carousel-control-prev, .carousel-control-next {
  width: 5%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-image: none;
}

.carousel-control-prev-icon::before {
  content: "<";
  font-size: 2rem;
  color: #e4a837;
}

.carousel-control-next-icon::before {
  content: ">";
  font-size: 2rem;
  color: #e4a837;
}

.main-contacto {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  color: #f5c05d;
}
.main-contacto .main.logo {
  display: flex;
  flex-direction: row;
}
.main-contacto .logo.sn img {
  max-width: 100%;
  width: 10px;
  height: auto;
}
.main-contacto .logo.sn p {
  font-size: 14px;
  color: #e4a837;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.contact-form form label {
  margin-bottom: 5px;
}
.contact-form form input[type=text],
.contact-form form input[type=email],
.contact-form form textarea {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #3b6754;
  color: #333;
  border: 3px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.contact-form form button {
  width: 300px;
  padding: 10px 20px;
  background-color: #19372b;
  color: #e4a837;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.contact-form form button:hover {
  background-color: #555;
}

.carro-de-compras {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.carro-de-compras .producto {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.carro-de-compras .producto .imagen {
  max-width: 4cm;
  margin-right: 10px;
}
.carro-de-compras .producto .informacion {
  display: flex;
  flex-direction: column;
}
.carro-de-compras .producto .informacion h2 {
  margin-bottom: 5px;
}
.carro-de-compras .producto .informacion p {
  margin-bottom: 10px;
}
.carro-de-compras .producto .informacion .cantidad {
  display: flex;
  align-items: center;
  margin-top: auto;
}
.carro-de-compras .producto .informacion .cantidad button {
  font-size: 16px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}
.carro-de-compras .total {
  margin-top: 20px;
}
.carro-de-compras .total p {
  margin-bottom: 10px;
}
.carro-de-compras .total button {
  width: 300px;
  padding: 10px 20px;
  background-color: #19372b;
  color: #e4a837;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.carro-de-compras .total button:hover {
  background-color: #555;
}

body {
  background-color: #19372b;
}

/*# sourceMappingURL=style.css.map */
