@import "./variable.scss";

$titulos :(
  tamanio: 4rem,
  decoration:underline,
  color:$color-principal-titulos,

);
$geneticas :(
    tamanio: 1.9rem,
    decoracion:underline,
    color:$color-subtitulos,
    
);

