@import "../maps/variable.scss";

.boton-f{
    width: 100px;
    display: flex;
    margin: 10px;
    padding: 10px 20px;
    border: 3px solid $color-subtitulos;
    text-decoration: none;
    color: $color-principal-titulos;
    background-color: $color-fondo;
    transition: background-color 0.3s, border-color 0.3s; 

    &:hover {
      background-color: $color-fondo-sec;
      border-color: #666; 
    }
};
.footer{
    text-align: right;
    color: $color-subtitulos
};