@import "../maps/variable.scss";
@import "../maps/mixins";
// Estilos para las secciones home
p{
  color: $color-subtitulos;
}
.home, .home3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $breakpoint) {
    flex-direction: column;
  }

  img {
    max-width: $max-image-size;
    border: 3px solid $border-color; 
    max-height: $max-image-size;

    @media (max-width: $breakpoint) {
      max-width: 100%; 
    }
  }

  h3, p {
    order: 2;
    text-align: justify;
    align-self: center; 

    @media (max-width: $breakpoint) {
      order: 1; 
      text-align: center; 
    }
  }
  h2 {
    text-decoration: none;
  }
}

.home2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;

  @media (max-width: $breakpoint) {
    flex-direction: column;
    justify-content: center; /* Centrar en dispositivos con ancho máximo */
  }

  video,
  iframe {
    max-width: 100%; // Tamaño máximo del video o iframe
    border: 3px solid $border-color;
    max-height: 100%;
    align-items: right;

    @media (max-width: $breakpoint) {
      max-width: 100%;
    }
  }
}


  p {
    order: 1; 
    text-align: justify; 
    
    align-self: center; 

    @media (max-width: $breakpoint) {
      order: 2; 
      text-align: center; 
    }
  }

  img:nth-child(2) {
    order: 2; 
  }

//productos automaticas y fem//
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .product {
    text-align: center;
    margin: 20px;
    width: 250px; 
    img {
      max-width: 100%;
      height: auto;
    }
    h2 {
      text-decoration: none;
      color: $color-subtitulos;
      margin: 10px 0;
    }
    h3{
      color: black;
      text-align: justify;
    }
    
    p {
      font-weight: bold;
    }
    button {
      @include button
    }
  }
  @media (max-width: 768px) {
    .product {
      width: 100%; 
    }
  }
}
//tutoriales//
.bodytips{
  background-color: $color-fondo;

  h1{
    color: $color-principal-titulos;
  }
}
$carousel-height: 60vh; 

#carouselExampleCaptions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  height: $carousel-height; 
  background-color: $color-fondo; 
}

.carousel-inner {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 100%;
}

.carousel-item {
  text-align: center;
}

.carousel-item iframe {
  max-width: 100%; 
  max-height: 100%; 
}

.carousel-control-prev, .carousel-control-next {
  width: 5%; 
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-image: none; 
}

.carousel-control-prev-icon::before {
  content: '<'; 
  font-size: 2rem; 
  color: $color-principal-titulos; 
}

.carousel-control-next-icon::before {
  content: '>'; 
  font-size: 2rem; 
  color:$color-principal-titulos;
}
//contacto//
.main-contacto {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  color: $color-subtitulos;
  
  .main.logo {
    display: flex;
    flex-direction: row;
  }
  .logo.sn {
      img {
        max-width: 100%;
        width: 10px;
        height: auto;
      }
      p {
        font-size: 14px; 
        color: $color-principal-titulos; 
      }
    }
  }

  .contact-form {
    form {
      display: flex;
      flex-direction: column;
      align-items: left;

      label {
        margin-bottom: 5px;
      }

      input[type="text"],
      input[type="email"],
      textarea {
        width: 300px;
        padding: 10px;
        margin-bottom: 10px;
        background-color: $color-fondo-sec;
        color: #333;
        border: 3px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
      }

      button {
        @include button()
        }
      }
    }
  
//carro de compras//
.carro-de-compras {
  display: flex;
  flex-direction: column;
  align-items: left;

  .producto {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;

    .imagen {
      max-width: 4cm;
      margin-right: 10px;
    }

    .informacion {
      display: flex;
      flex-direction: column;

      h2 {
        margin-bottom: 5px;
      }

      p {
        margin-bottom: 10px;
      }

      .cantidad {
        display: flex;
        align-items: center;
        margin-top: auto;

        button {
          font-size: 16px;
          padding: 5px 10px;
          margin: 0 5px;
          cursor: pointer;
        }
      }
    }
  }

  .total {
    margin-top: 20px;

    p {
      margin-bottom: 10px;
    }

    button {
      @include button()
      }
    }
  }

